
h1{
    text-align: center;
}

img{
    border-radius: 50%;
    margin-bottom: 12px;
    margin-right: 30px;
    display: block;
    margin: auto;
    justify-content: center;

}
h3 {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16pt;
}
p{
    text-align: center;
    font-family: sans-serif;
    font-size: 16pt;
}

body{
    background-color: #73bed4 ;
    padding: 5%;
    margin: auto;
    display: grid;
}
/* LINEAS DE BORDES */
div{
    background-color: rgb(181, 221, 233);
    border: 1px solid rgb(80, 28, 28);
    padding: 12px;
    width: 60%;
    margin: 0 auto;
    line-height: 20pt;
}

fieldset{
    margin-bottom: 15px;
}


legend{
    background: #33dce2;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;

}


.contenedor{
    display: block;
    margin: auto;
    justify-content: center;

    width: 95%;
    background:  rgb(181, 221, 233);
    margin: 10px auto;
    

    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows:10 px;
    margin:auto;
    padding: auto;
   
}

.tabla_titulo{
    grid-column-start: 1;
    grid-column-end: 6;
    padding: 5px;
    border-radius: 20px;
    background: #33dce2;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.9em;
    margin-bottom: 15px;
    
}


.tabla_subtitulos, .tabla_datos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    
    margin-bottom: 15px;
    
}

.tabla_subtitulos{
    font-weight: bold;
    font-size: 8.pt;
    
}

.tabla_datos{
    padding: 25px;
    font-size: 1.2em;
    
}



